.dishes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap:10px;
    padding: 0 50px;
    margin: 0 auto;
}

.category {
    margin-bottom: 50px;
}

.dish {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
  border-radius: 35px;
  background-color: white;
  cursor: pointer;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  transition: border 0.1s;
}

.dish:hover {
  border: 2px solid tomato;
}

.dish-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.dish-name {
  margin:0;
  font-size: 30px;
  font-weight: 600;
}

.dish-weight {
  font-size: 20px;
  color: grey;
}

.dish-price {
  font-size: 20px;
  font-weight: 500;
}

.add-btn {
  padding: 10px 30px;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #f1eee9;
  color: black;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: darkgray;
}

.card {
  display: block;     
  max-width: 100%;      
  height: auto;         
  border-radius: 35px;
}


@media (max-width: 800px) {
    .dishes-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
    
    
    nav {
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    
    nav a:first-child {
        margin-left: 0;
    }
    
    nav a:last-child {
        margin-right: 0; 
    }
}


@media (max-width: 600px) {
    header {
      height: auto;
    }

    body {
      max-width: 100%;
      overflow-x: hidden;
    }

    footer {
      max-width: 100%;
      display: flex; 
      flex-wrap: wrap;
      box-sizing: border-box; 
    }

    img {
      max-width: 100%;
    }
 
    h1 {
        text-align: center;
    }
    
  
    nav {
        flex-direction: column; 
        align-items: center;
    }
    
 
    nav a {
        font-size: calc(16px + 4px); 
        margin: 5px 0;
        
    }
    
   
    section h2 {
        text-align: center;
    }
    
    .dishes-grid {
        grid-template-columns: 1fr;
        padding: 0 20px; 
    }
    

    .dish {
        padding: 20px 25px;
    }
    
    .dish-name {
        font-size: 24px;
    }
    
    .dish-weight,
    .dish-price {
        font-size: 16px;
    }

}
